node_modules/
dist/
.env
.env.local
.env.*.local
.DS_Store
*.log
.vercel
public/videos/homepage.mp4
public/videos/munca noastra.mp4
public/videos/munca noastra 2.mp4
public/videos/locatia noastra.mp4
